.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
.navbar-nav {
  width: 100%;
}
.cart {
  margin-left: auto;
  &_number {
    position: relative;
    margin-right: 1rem;
    width: 20px;
    height: 20px;
    background: url("../assets/cart.svg") center center no-repeat;
    background-size: cover;
    span {
      position: absolute;
      top: -12px;
      left: -16px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 20px;
      background: #333;
      border-radius: 50%;
    }
  }
  a {
    display: flex;
    align-items: center;
  }
}